@charset "UTF-8";
/* Змінні */
/* Приховані елементи */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Загальні налаштування */
body {
  color: #757575;
  font-family: "Roboto", Raleway, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

img {
  display: block;
}

/* Скидання стилів */
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

/* Шапка */
.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

/* Навігація */
.main-nav {
  display: flex;
  text-align: center;
}

.group-nav {
  display: flex;
  text-align: center;
}

.group-nav__logo--blue {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0px;
  width: 145px;
}

.group-nav__logo--black {
  color: #000000;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  display: block;
}

.site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Телефон і пошта */
.auth-nav {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.auth-nav__item + .auth-nav__item {
  margin-left: 30px;
  text-align: center;
}

.auth-nav__link--mail {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 135px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link--mail:hover, .auth-nav__link--mail:focus {
  color: #2196f3;
}

.auth-nav__link--tel {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 0px;
  width: 122px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link--tel:hover, .auth-nav__link--tel:focus {
  color: #2196f3;
}

.auth-nav__icon--mail {
  fill: #757575;
  display: inline-block;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon--tel {
  fill: #757575;
  display: inline-block;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link--mail:hover .auth-nav__icon--mail,
.auth-nav__link--mail:focus .auth-nav__icon--mail {
  fill: #2196f3;
}

.auth-nav__link--tel:hover .auth-nav__icon--tel,
.auth-nav__link--tel:focus .auth-nav__icon--tel {
  fill: #2196f3;
}

/* Секція-герой */
.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  padding: 200px 0px 200px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Секція особливостей */
.feature {
  display: flex;
}

.feature__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__item {
  width: 270px;
}

.feature__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
}

.feature__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
}

.feature__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
}

.feature__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
}

/* Секція робіт */
.work {
  display: flex;
}

.work__item {
  width: 370px;
  position: relative;
}

.work__item + .work__item {
  margin-left: 30px;
}

.work__text {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 70px;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

/* Секція команди */
.team {
  display: flex;
}

.team__element {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__element + .team__element {
  margin-left: 30px;
}

.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__item {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.social {
  display: flex;
  padding-top: 16px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  justify-content: center;
}

.social__link-icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
}

.social__icons + .social__icons {
  margin-left: 10px;
}

.social__icons:first-child {
  margin-left: 32px;
}

.social__icons:last-child {
  margin-right: 32px;
}

/* Секція клієнтів */
.client {
  display: flex;
}

.client__element + .client__element {
  margin-left: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* Футер */
.page-footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

/* Лого у футері */
.logo-footer {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.logo-footer--secondary {
  color: #ffffff;
}

/* Контакти у футері */
.contact__address-link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__address-link:hover, .contact__address-link:focus {
  color: #2196f3;
}

.contact__mail--link {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail--link:hover, .contact__mail--link:focus {
  color: #2196f3;
}

.contact__tel--link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tel--link:hover, .contact__tel--link:focus {
  color: #2196f3;
}

/* Іконки соцмереж у футері */
.social-footer {
  display: flex;
  align-items: baseline;
}

.social-footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
}

.social-footer__icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
}

.social-footer__elements + .social-footer__elements {
  margin-left: 10px;
}

.contacts-links {
  margin-left: 70px;
}

.join-title {
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Форми у футері */
.online-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 93px;
}

.online-form {
  display: flex;
  align-items: baseline;
}

.online-form__field input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.online-form__mail {
  width: 359px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  margin-right: 12px;
  margin-left: 93px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.input-button__btn {
  width: 200px;
  height: 50px;
  position: relative;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  margin: 0 auto;
  padding: 10px 62px 10px 29px;
  transition: background-color 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-button__icon {
  position: absolute;
  right: 18px;
  top: 25%;
  fill: #ffffff;
  background-color: #2196f3;
  margin-right: 8px;
  transition: background-color 250ms color 250ms box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Секція портфоліо */
/* Кнопки-фільтри в портфоліо */
.portfolio-filters__list {
  display: flex;
  justify-content: center;
}

.button-filter {
  color: #212121;
  background-color: #f5f4fa;
  display: block;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin-bottom: 50px;
  transition: background-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #2196f3;
}

.button-filter--current {
  color: #ffffff;
  background-color: #2196f3;
}

.button-filter__group:not(:last-child) {
  margin-right: 8px;
}

/* Список проєктів у портфоліо */
.portfolio__project-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
}

.portfolio__project-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__project-link:hover, .portfolio__project-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__project-group {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.portfolio__project-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__project-element:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__project-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__project-item {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* Оверлей у карточках портфоліо */
.portfolio__text-overlay {
  position: absolute;
  top: 0;
  width: 370px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 64px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

.portfolio__project-overlay {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio__project-link:hover .portfolio__text-overlay,
.portfolio__project-link:focus .portfolio__text-overlay {
  transform: translateY(0);
}

/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Секції */
.section__feature {
  padding-top: 94px;
}

.section__work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.section__сlients {
  padding-top: 50px;
  padding-bottom: 94px;
}

.section__portfolio {
  padding-top: 94px;
  padding-bottom: 50px;
}

/* Кнопка в герої */
.hero__button {
  display: flex;
  padding: 10px 32px;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

/* Секція заголовків */
.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*  Модальне вікно   */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: background-color 250ms, border-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover, .modal-icon:focus {
  fill: #2196f3;
}

/* Форми модального вікна */
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 250ms, border-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  padding: 12px 42px;
  transition: background-color 250ms, border-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-input:hover {
  border-color: #2196f3;
}

.modal-input:focus + .modal-input-icon,
.modal-input:hover + .modal-input-icon {
  fill: #2196f3;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: background-color 250ms, border-color 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus, .modal-text:hover {
  border-color: #2196f3;
}

.modal-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  display: flex;
  color: #757575;
  position: relative;
  margin-bottom: 30px;
}

.modal-check-icon {
  fill: transparent;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 5px;
  margin-left: 14px;
  margin-top: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms border-color 250ms box-shadow 250ms color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border: transparent;
}

.modal-input-check:focus + .modal-check-text span,
.modal-input-check:hover + .modal-check-text span {
  border-color: #2196f3;
  box-shadow: none;
}

.modal-input-check:checked + .modal-check-text .modal-check-icon {
  fill: #ffffff;
}

.modal-checkbox-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  margin: 0 auto;
  transition: color 250ms background-color 250ms box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */