.feature {
    display: flex;

&__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

&__item {
    width: 270px;
    &::before {
        display: block;
        content: "";
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    &:nth-child(1)::before {
        background-image: url(../images/antenna.svg);
        background-size: 70px 70px;
    }
        
    &:nth-child(2)::before {
        background-image: url(../images/clock.svg);
        background-size: 70px 70px;
    }

    &:nth-child(3)::before {
        background-image: url(../images/diagram.svg);
        background-size: 70px 70px;
    }

    &:nth-child(4)::before {
        background-image: url(../images/astronaut.svg);
        background-size: 70px 70px;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

&__text {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
}
}