
.page-header {
    background-color: $secondary-text-color;
    border-bottom: 1px solid #ececec;
}

.main-nav {
    display: flex;
    text-align: center;
}

.group-nav {
    display: flex;
    text-align: center;


&__logo-primary {
    color: var(--accent-text-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    width: 145px;
}

&__logo-secondary {
    color: #000000;
}
}


.site-nav {
    display: flex;


&__item:not(:last-child) {
    margin-right: 50px;
}

&__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

&__link--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

&__link:hover,
&__link:focus {
    color: var(--accent-text-color);
}

&__link--current {
    color: var(--accent-text-color);
    display: block;
}
}

/* Auth-nav */

.auth-nav {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.auth-nav__item+.auth-nav__item {
    margin-left: 30px;
    text-align: center;
}

.auth-nav__link-mail {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: 135px;
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

.auth-nav__link-tel {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 0px;
    width: 122px;
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

.auth-nav__link-tel:hover,
.auth-nav__link-mail:hover,
.auth-nav__link-mail:focus,
.auth-nav__link-tel:focus {
    color: var(--accent-text-color);
}

.auth-nav__icon-mail {
    fill: var(--primary-text-color);
    display: inline-block;
    margin-right: 10px;
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

.auth-nav__icon-tel {
    fill: var(--primary-text-color);
    display: inline-block;
    margin-right: 10px;
    transition: color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}

.auth-nav__link-mail:hover .auth-nav__icon-mail,
.auth-nav__link-mail:focus .auth-nav__icon-mail {
    fill: var(--accent-text-color);
}

.auth-nav__link-tel:hover .auth-nav__icon-tel,
.auth-nav__link-tel:focus .auth-nav__icon-tel {
    fill: var(--accent-text-color);
}