
.section__feature {
    padding-top: 94px;
}

.section__work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__—Ålients {
    padding-top: 50px;
    padding-bottom: 94px;
}

.section__portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
}

